/* style sheet */

/* This section is for universal selections and rules */

/* box model Fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* clear Fix */

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* image rules */

img {
	width: 100%;
}

/* text rules */

/* GIVE SAJE.ca and PINTEREST ATTRIBUTIONS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

body {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 400;
	background-color: #white;
}

h1 {
	font-family: 'Playfair Display';
	font-size: 60px;
	font-weight: 500;
	margin: 1;
	/* we could also use font-size: 4rem; to get the same size. 
	Ultimatley if we were building a site to be completely 
	responsive then we would want to use this but I am going 
	to use my Figma File as a refernce and they use absolute values
	*/
}

h2 {
	font-family: 'Playfair Display';
	font-size: 40px;
	margin: 0;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8rem;
	margin: 0;
}

h4 {
	font-family: 'Poppins';
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

h5 {
	font-family: 'Poppins';
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8rem;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8rem;
	
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins';
}

a:hover {

	color: black;

}

ul {
	list-style-type: none;
}

.tighten {
	letter-spacing: -0.03em;
}


/* image rules */

img {

	width: 100%;
}


/* universal newsletter and footer rules */
#newsletter {
	height: 20vh;
	margin-top: 100px;
}

#newsletter h2 {

	font-style: italic;
	font-size: 25px;
}

#newsletter .row {
	margin-bottom: 30px;
}

#newsletter .btn {
	background-color: none;
	border-color: black;
	color: black;
}

#newsletter .btn:hover {
	background-color: black;
	color: white;
}

.btn {
	border-radius: 50px;
	margin-left: -80px;
}


footer {
	background-color: #283618;
	border-radius: 125px 125px 0px 0px;
	color: #fff;
	position: relative;
	z-index: 4;
	margin-top: 30px;
}

footer h4 {
	padding: 2rem;
	font-family: "Plaiyfair Display";
}

#partners {
	text-align: center;
	color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 5%;
}

#partners h4 {

	font-size: 17px;
	text-transform: uppercase;
}

#partners ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer li {
	text-align: center;
	font-family: 'Poppins';
	font-size: 14px;
	padding-bottom: 15px;
}


#foot-links {
	margin-top: 40px;
}

#foot-links a {

	font-family: "Playfair Display";
}

#foot-links li:first-child {
	font-weight: 600;
	padding-bottom: 30px;
}

#foot-links ul {
	display: flex;
	flex-direction: column;
}

#foot-links li {
	text-align: left;
}

#foot-links img {
	max-width: 70px;
}

#socials {
	display: flex;
	flex-direction: row;
}

#legal {
	text-align: center;
	padding-bottom: 50px;
	font-size: 12px;
}

#legal span {
	margin-left: 30px;
}

#bottom {
	justify-content: space-between;
	font-size: 12px;
	margin-top: 40px;
	color: antiquewhite;
}


/* header styles and rules ---*/

header {
	background-color: white;
	color: black;
	position: fixed;
	height: 90px;
	z-index: 10;
	font-size: 0.7em;
	border-color: black;
	border-style: solid;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

header a {

	color: black;
}

#mobile-header a {   /* idk why "shop/about" are stuck at the top :((( */

	padding-top: 20px;

}

#nav-left {
	width: 300px;
	background-color: ;
}

#nav-left a {
	display: inline-block;
	padding-top: 0.5rem;
	max-width: 120px;
	margin-top: 15px;
}

#nav-right {
	width: 300px;
}


.icon {
	fill:  black;
}

#search {
	
	display: inline-block;
	margin-left: 10px;
	padding: 2rem;
	width: 310px;
}

#search a {
	line-height: 100px;
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

/* INDEX RULES ----------------------------------------------*/

 /* hero section */

#hero {

 	padding-top: 100px;
 	padding-bottom: 100px;
 	height: 100vh;
 	color: black;

 }

#mobile-hero {

	display: none;
}

#hero h3 {

	text-align: center;
	font-size: 15px;
	line-height: 23px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 60px;
	margin-left: -100px;
	color: #F1444C;

}

#hero span {

	font-size: 110px;
	font-style: normal;
	font-weight: lighter;
}

#hero h1 {

	font-size: 125px;
	line-height: 120px;
	font-style: italic;
	text-transform: uppercase;
	color: white;
	margin-left: 120px;
	
}

#hero .col-4 {

	margin: 0 auto;
	padding-top: 350px;

}

/* hero image section -----*/

#hero-image div {

	margin: 0.3vw;

}

#hero-image {

	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 60vw;
	text-align: center;
	margin: 0 auto;
	margin-top: -520px;
	position: relative;
	z-index: -2;

}

#hero-image > #left {

	width: 30%;
}

#hero-image > #center {

	width: 46%;
}

#hero-image > #right {

	width: 25%;
}

/* mobile hero */

#mobile-hero {

	padding-top: 110px;
	padding-bottom: 50px;
}

 /* where to find us section ----*/


#find-us {

	text-align: center;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #283618;
	color: white;
	border-style: solid;
	border-right: transparent;
	border-left: transparent;
	margin-top: -30px;

}

#find-us a {

	font-size: 15px;


}

#find-us a{

	border-style: solid;
	border-color: white;
	border-radius: 59px;
	color: white;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: px;
}

#find-us a:hover {

	background-color: white;
	color: black;

}

#find-us h4 {

	margin-bottom: 30px;
}

 /* best seller section ----*/


#best-seller {

	text-align: center;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: ;
	color: black;
	border-style: solid;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	display: flex;
	flex-direction: row; /* idk */
}

#best-seller h5 {

	font-size: 15px;
	text-transform: uppercase;
}

#three-across {

	width: 70vw;
	margin: 0 auto;

}

.mist img {

	border-color: #283618;
	background-color: #283618;
	border-style: solid;
	border-top-left-radius: 264px;
	border-top-right-radius: 264px;
	height: 45vh;
	margin-right: 50px;
	margin-top: 35px;
	padding-bottom: 20px;

}

.mist h3 {

	margin-top: 15px;
}

.mist h5 {

	font-weight: 500;
}

.mist a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: px;
}

.mist a:hover {

	background-color: black;
	color: white;
}

.unwind img {

	border-color: #283618;
	background-color: #283618;
	border-style: solid;
	border-top-left-radius: 264px;
	border-top-right-radius: 264px;
	height: 45vh;
	margin-right: 50px;
	margin-top: 35px;
	padding-bottom: 20px;

}

.unwind h3 {

	margin-top: 15px;
}

.unwind h5 {

	font-weight: 500;
}

.unwind a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: px;
}

.unwind a:hover {

	background-color: black;
	color: white;
}

.roll img {

	border-color: #283618;
	background-color: #283618;
	border-style: solid;
	border-top-left-radius: 264px;
	border-top-right-radius: 264px;
	height: 45vh;
	margin-top: 35px;
	padding-bottom: 20px;

}

.roll h3 {

	margin-top: 15px;
}

.roll h5 {

	font-weight: 500;
}

.roll a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: px;
}

.roll a:hover {

	background-color: black;
	color: white;
}

 /* learn more section ----*/

#learn-more {

	border-style: solid;
	border-color: black;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	margin-top: 120px;
	padding-bottom: 180px;

}

#learn-more h4 {

	padding-bottom: 25px;
}

#learn-more h2 {

	padding-top: 60px;
}

#learn-more a {
	
	font-size: 20px;
	line-height: 24px;
}

#learn-more .col-4 {

	margin: 0 auto;
}

#learn-more a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;

	
}

#learn-more a:hover {

	background-color: black;
	color: white;
}

#learn-more .right-img {

	width: 60%;

}

#learn-more .left-img {

	width: 60%;
	padding-top: 300px;
	margin-left: 120px;
}

/* learn more mobile */

#mobile-learn-more {

	border-style: solid;
	border-color: black;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	margin-top: 120px;
	padding-bottom: 180px;
	text-align: center;

}

#mobile-learn-more h4 {

	padding-bottom: 25px;
}

#mobile-learn-more h2 {

	padding-top: 60px;
}

#mobile-learn-more a {
	
	font-size: 20px;
	line-height: 24px;
}

#mobile-learn-more .col-4 {

	margin: 0 auto;
}

#mobile-learn-more a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;

	
}

#mobile-learn-more a:hover {

	background-color: black;
	color: white;
}

#mobile-learn-more .right-img {

	margin: 0 auto;
	padding-top: 80px;


}

#mobile-learn-more .left-img {

	margin: 0 auto;
}


/* INTERIOR RULES -------------------------------------------*/

/* hero section*/

#hero-about h1 {

	text-transform: uppercase;
	font-size: 40.5px;
	font-family: 'Poppins';
	max-width: px;
	padding-top: 15vh;
}

#mobile-hero-about h1 {

	text-transform: uppercase;
	font-size: 10px;
	font-family: 'Poppins';
	max-width: px;
	padding-top: 15vh;
}

#mobile-about-image {

	padding-top: 150px;
	padding-bottom: 50px;
}

#about-image {

	margin-top: 120px;

}

/* call out section*/

#call-out-new {

	background-color: #283618;
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

#call-out-new img {

	width: 5%;
	padding-top: 20px;
}

/* learning section*/

#learning {

	border-style: solid;
	border-color: black;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	margin-top: 120px;
	padding-bottom: 120px;
}

#mobile-learning {

	border-style: solid;
	border-color: black;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	margin-top: 70px;
	padding-bottom: 50px;
	
}

#mobile-aroma {

	margin-bottom: 70px;
	text-align: center;
	
}

#aroma {

	margin-bottom: 70px;
	text-align: left;
	margin-top: 40px;
}


#ingredients {

	margin-bottom: 70px;
	margin-top: 40px;
}


#benefits {

	margin-bottom: 70px;
	margin-top: 40px;
}

#learning .col-5 {

	margin: 0 auto;
	
}

/* testimonial section*/

#testimonial {

	text-align: center;
	margin-top: 120px;
	padding-bottom: 120px;
	margin: 0 auto;

	border-style: solid;
	border-color: black;
	border-top-left-radius: 536px;
	border-top-right-radius: 536px;
	height: 830px;
	width: 50%;
	margin-top: 100px;
	margin-bottom: 50px;


}

#testimonial .col-12 {

	margin: 0 auto;
	padding-top: 70px;
}


#mobile-testimonial {

	text-align: center;
	margin-top: 120px;
	padding-bottom: 120px;
	margin: 0 auto;

	border-style: solid;
	border-color: black;
	border-top-left-radius: 536px;
	border-top-right-radius: 536px;
	height: 1100px;
	width: 90%;
	margin-top: 100px;
	margin-bottom: 50px;

}

#mobile-testimonial .col-12 {

	margin: 0 auto;
	padding-top: 70px;
}

.reviews h3 {

	padding-top: 50px;
	font-weight: 500;

}

.reviews a {

	font-size: 15px;
	line-height: 10px;


}

.reviews img {

	width: 20%;
}


/* PRODUCT RULES --------------------------------------------*/

/* hero section*/

#vendor-hero {

	padding-top: 400px;
 	padding-bottom: 50px;
 	height: 95vh;
 	margin: 0 auto;
 	text-align: center;
 	padding-left: 200px;
}

#vendor-hero h1 {

	text-transform: uppercase;
	font-size: 90px;
	font-family: 'Poppins';
}

#vendor-hero img {

	margin-top: -250px;
	z-index: -2;
	width: 150%;
	padding-left: 50px;

}

#mobile-vendor-hero img {

	padding-top: 150px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 50px;

}

/* location bar section*/

#location {

	background-color: #283618;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

/* monthly products section*/

#products {

	text-align: center;
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
	border-color: black;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-bottom: solid;
	padding-bottom: 100px;


}

.pain {

	margin-top: 50px;
}

.allergy {

	margin-top: 50px;
}

.halo {

	margin-top: 50px;
}

.pain img {

	border-color: #283618;
	background-color: #283618;
	border-style: solid;
	border-top-left-radius: 264px;
	border-top-right-radius: 264px;
	height: 45vh;
	margin-top: 35px;
	padding-bottom: 30px;

}

.pain h3 {

	margin-top: 15px;
}

.halo h5 {

	font-weight: 500;
}

.pain a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: px;
}

.pain a:hover {

	background-color: black;
	color: white;
}

.allergy img {

	border-color: #283618;
	background-color: #283618;
	border-style: solid;
	border-top-left-radius: 264px;
	border-top-right-radius: 264px;
	height: 45vh;
	margin-top: 35px;
	padding-bottom: 30px;

}

.allergy h3 {

	margin-top: 15px;
}

.allergy h5 {

	font-weight: 500;
}

.allergy a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: px;
}

.allergy a:hover {

	background-color: black;
	color: white;
}

.halo img {

	border-color: #283618;
	background-color: #283618;
	border-style: solid;
	border-top-left-radius: 264px;
	border-top-right-radius: 264px;
	height: 45vh;
	margin-top: 35px;
	padding-bottom: 30px;

}

.halo h3 {

	margin-top: 15px;
}

.halo h5 {

	font-weight: 500;
}

.halo a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	
}

.halo a:hover {

	background-color: black;
	color: white;
}

/* scent of the month section*/

#highlight {

	border-style: solid;
	border-color: black;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	padding-top: 120px;
	padding-bottom: 120px;
	margin: 0 auto;
	padding-left: 200px;
}

#highlight h2 {

	margin-left: 20px;

}

#highlight h4 {

	margin-left: 20px;

}

#mobile-highlight {

	border-style: solid;
	border-color: black;
	border-top: black;
	border-right: transparent;
	border-left: transparent;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

#mobile-highlight h2 {

	padding-bottom: 10px;

}

#mobile-highlight h4 {

	margin-left: ;

}

/* testimonial redirect section*/

#testimonial-section {

	text-align: center;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: ;
	color: black;
	border-style: solid;
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;
}

#testimonial-section h4 {

	margin-bottom: 30px;
}

#testimonial-section a {

	border-style: solid;
	border-color: black;
	border-radius: 59px;
	color: black;
	font-size: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	
}

#testimonial-section a:hover {

	background-color: black;
	color: white;
}


/*responsiveness restrictions set for mobile/web */

@media only screen and (max-width: 2000px) {

	 #mobile-hero {

	 	display: none;

	 }

	 #mobile-header {

		display:  none;
	}

	#mobile-learn-more {

		display: none;
	}

	#mobile-hero-about {

		display:  none;
	}

	#mobile-about-image {

		display:  none;
	}

	#mobile-vendor-hero {

		display: none;
	}

	#vendor-hero {

		display: block;
	}

	#mobile-highlight {

		display: none;
	}

	#mobile-learning {

		display: none;
	}

	#mobile-testimonial {

		display: none;
	}

	}

@media only screen and (max-width: 500px) {

	#hero {

		display: none;
	}

	#mobile-hero {

		display: block;
	}

	#header {

		display:  none;
	}

	#mobile-header {

		display:  block;
	}

	#learn-more {

		display: none;
	}

	#mobile-learn-more {

		display: block;
	}

	#hero-about {

		display : none;
	}

	#mobile-hero-about {

		display:  block;
	}

	#about-image {

		display: none;
	}

	#mobile-about-image {

		display:  block;
	}

	#vendor-hero {

		display: none;
	}

	#mobile-vendor-hero {

		display: block;
	}

	#highlight {

		display: none;
	}

	#mobile-highlight {

		display: block;
	}

	#learning {

		display: none;
	}

	#mobile-learning {

		display: block;
	}

	#testimonial{

		display: none;
	}

	#mobile-testimonial {

		display: block;
	}
}
