/*css styling for cp5*/

body {

background-color: palevioletred;

}

h1 {

	text-align: center;
	font-family: 'Press Start 2P', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.b2 {
	
	background-color: lawngreen; !important;

}

.box {

	display: grid;
	padding: 50px;

}